<h1>Listagem de Usuarios</h1>
<hr>
<a href="/Cadastro"><button>Cadastrar</button></a>
<a href="#"><button>Deletar</button></a>
{{#each bd_usuarios}}
    <div>
        <ul>
            <li>ID : {{id}}</li>
            <li>Nome : {{NomeDeLogin}}</li>
            <li>Email : {{Email}}</li>
            <li>Senha : {{Senha}}</li>
        </ul><br>
        <a href="/atualizar/{{id}}"><button>Atualizar usuário</button></a>
    </div>
{{/each}}